* {
    padding: 0;
    margin: 0;
    font-family: "Inter"
}

nav {
    background-color: #ffffff;

}

.common {
    max-width: 1050px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px
}

.firstlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: #4d4141;
}

.common-button {
    background-color: #2563eb;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.banner {
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 86vh;
}

.overlay {
    width: 45%;
    height: 86vh;
    background: rgba(1, 0, 0, 0.55);
}

.banner-content {
    color: white;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 250px;
    text-align: center;
    max-width: 1200px;
}

.banner-content h1 {
    font-size: 60px;
    margin-top: 40PX;
    ;
    padding: 20px 0px;
}

.banner-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.banner-content button {
    width: 200px;
    padding: 15px 35px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    margin-top: 170px;
    margin-left: 280px;
}

.speaker-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.speaker-container h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.speaker-container h3 {
    font-weight: 700;
    margin: 12px 20px;
}

.speaker-container p {
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
    margin: 12px 20px;
}

.speaker-container h6 {
    font-size: 13px;
    font-weight: 500;
    margin: 12px 20px 20px;
    color: #575757;
}

.speaker-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin-bottom: 18px;
}

.speaker-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.speaker-container img {
    width: 85vh;
}

.box {
    border: 1px solid #d1d1d4;
    border-radius: 10px;
    margin-right: 9px;
}

/* speaker  end*/
/* price start */
.price {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.price-title h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 42px;
}

.price-title p {
    text-align: center;
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 35px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    margin-bottom: 18px;
}

.price-container hr {
    border: none;
    height: 1.5px;
    background-color: #e5e7eb;
    margin: 20px 0;
}

.pricing-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #d1d1d4;
    width: 85%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}
.pricing-card:hover {

    transform: translateY(-8px);

}

.pricing-card li {
    margin-left: 10px;
    color: rgba(87, 87, 87, 1);
    margin-bottom: 10px;
    font-size: 12px;
}

.pricing-card li::marker {
    color: #2563eb;
}

.pricing-card2 {
    background-color: #0D1B2A;
    color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 80%;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}
.pricing-card2:hover {

    transform: translateY(-8px);

}

.pricing-card2 li {
    margin-left: 10px;
    color: rgb(255, 253, 253);
    margin-bottom: 10px;
    font-size: 13px;
}

.pricing-card li::marker {
    color: #2563eb;
}

.pricing-card2 li::marker {
    color: #2563eb;
}

.pricing-header h3 {
    margin-bottom: 5px;
    font-size: 40px;
}

.pricing-header p {
    margin-bottom: 5px;
    font-size: 14px;
}

.pricing-header2 h3 {
    margin-bottom: 5px;
    font-size: 40px;
}

.pricing-header2 p {
    margin-bottom: 5px;
    font-size: 14px;
}

.button1 {
    padding: 10px 50px;
    border-radius: 8px;
    border: 1px solid #2563eb;
    color: #2563eb;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
}

.button2 {
    padding: 10px 65px;
    border-radius: 8px;
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}

.button3 {
    padding: 10px 30%;
    border-radius: 8px;
    border: 1px solid #373738;
    color: #373738;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
}
/* price end */
/* vanue start */
.venue{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    padding:80px 8%;
    flex-wrap:wrap;
}

.venue-text{
    flex:1;
}

.venue-text h2{
    font-size:42px;
    margin-bottom:20px;
}

.venue-text p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
}

.venue-text ul{
    margin-bottom:30px;
}

.venue-text ul li{
    list-style:none;
    margin:12px 0;
    font-size:18px;
}

.venue-btn{
    display:inline-block;
    padding:14px 28px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.venue-btn:hover{
    background:#1d4ed8;
}

.venue-image{
    flex:1;
}

.venue-image img{
    width:100%;
    border-radius:15px;
}
/* Footer */

.footer{

    background:#111827;
    padding:25px 8%;

}

.footer-container{

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;

}

.footer-left p{

    color:#cbd5e1;
    font-size:15px;

}

.footer-center{

    display:flex;
    gap:15px;

}

.footer-center a{

    width:40px;
    height:40px;

    background:#1e293b;

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    text-decoration:none;

    transition:.3s;

}

.footer-center a:hover{

    background:#2563eb;
    transform:translateY(-4px);

}

.footer-right{

    display:flex;
    gap:20px;

}

.footer-right a{

    color:#cbd5e1;
    text-decoration:none;
    font-size:15px;

}

.footer-right a:hover{

    color:#3b82f6;

}

